name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install flet

      - name: Build APK
        run: |
          # Adicione o comando para construir seu APK aqui
          # Por exemplo, se você usa algum empacotador específico
          # ./build-apk.sh  (substitua pelo seu comando real)

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: my-app-apk
          path: path/to/your/apk/file.apk